$primary: lightpink;

@mixin get-font($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}

%border {
  border: 3px solid $primary;
}

body {
  padding: 20px;
}

.App {
  background-color: red;

  h1 {
    @include get-font(30px, bold);
  }

  > button {
    @extend %border;

    &.active {
      background-color: greenyellow;
    }

    &:hover {
      background-color: $primary;
    }
  }
}
